---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mi";
const happy = true;
const finished = true;
const goal = 3;
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Redactora técnica",
  hobbies: ["fotografia", "observación de aves", "peñarol"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>